# Temporary directory for build artifacts
/build

# Set per https://github.com/bkeepers/dotenv#what-other-env-files-can-i-use
.env.*.local
.env.local
!.env.development
!.env.test
!.env.production
# Use .env for settings that are shared across all configurations
!.env